/* Generales */
:root {
  --fuente1: 'Barlow', sans-serif; }

* {
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth; }

html {
  background-color: black;
  font-size: 62.5%; }

p {
  font-size: 1.6rem; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

body {
  background: black; }

.contenedor {
  height: 600px;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  padding: 0%;
  margin: auto auto; }

/* Main   */
/*   Animations */
.title h2 {
  font-size: 2em;
  width: 100%;
  justify-content: center;
  color: white;
  background-color: black;
  text-align: center;
  overflow: hidden;
  white-space: initial;
  margin: 0 auto;
  letter-spacing: 15px;
  animation: typing 5s steps(29, end), blink-caret 0.12s step-start infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; }
  from {
    text-decoration: line-through orange 2px; }
  to {
    text-decoration: none; } }

/* Sobre Mi*/
.line1 {
  border-color: white;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-style: solid;
  background-color: black;
  width: 65%;
  height: 200px; }

.line2 {
  border-color: white;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-style: solid;
  background-color: black;
  width: 35.1%;
  height: 239px; }

.title {
  width: 30%;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  border-style: solid;
  border-color: white;
  margin-top: -0.2rem;
  padding: 2rem 2rem;
  font-family: var(--fuente1);
  font-weight: bolder;
  overflow-wrap: normal; }

.title h2 {
  width: 100%;
  justify-content: center;
  color: white;
  background-color: black;
  text-align: center;
  overflow: hidden;
  white-space: initial;
  margin: 0 auto;
  letter-spacing: 15px;
  animation: typing 5s steps(29, end), blink-caret 0.12s step-start infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; }
  from {
    text-decoration: line-through orange 2px; }
  to {
    text-decoration: none; } }

.title__p {
  height: 89px;
  margin-top: 2rem;
  width: 30%;
  left: 40%;
  font-size: 1.7rem;
  font-family: var(--fuente1);
  font-weight: bolder;
  color: white;
  position: absolute;
  text-shadow: 1 0.38px 0 orange; }

.title__p2 {
  height: 89px;
  font-size: 1.7rem;
  margin-top: -3.69rem;
  margin-left: 4rem;
  background-color: lime;
  left: 23%;
  background-color: transparent;
  font-family: var(--fuente1);
  font-weight: bolder;
  color: white;
  position: absolute;
  color: orange; }

.title__p2 a {
  text-decoration: none;
  color: white;
  padding: 0; }

.title__p a {
  text-decoration: none;
  padding: 0;
  color: white; }

.title__p :hover {
  font-size: 1.9rem;
  color: orange;
  cursor: pointer;
  font-family: var(--fuente1);
  padding: 0; }

.title__p2 a:hover {
  font-size: 1.9rem;
  color: orange;
  padding: 0;
  cursor: pointer;
  font-family: var(--fuente1); }

.container__nav {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  left: 10%;
  float: left;
  flex-direction: row;
  font-size: 1.9rem;
  width: 20%;
  flex: 1;
  background-color: black; }

/*BOTON HAMBURGUESA*/
/*BOTON HAMBURGUESA*/
.menu__lineas {
  position: fixed;
  right: 10px;
  width: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 200;
  cursor: pointer; }

#menuLineas {
  left: 1%;
  top: 5%;
  background: transparent; }

.menu__lineas__linea1, .menu__lineas__linea2, .menu__lineas__linea3 {
  width: 30px;
  height: 3px;
  background-color: orange;
  transition: transform 0.5s; }

.menu__lineas__linea2 {
  margin: 5px 0; }

.menu__lineas__linea1B {
  transform: rotate(45deg) translate(4px, 6px); }

.menu__lineas__linea2B {
  opacity: 0; }

.menu__lineas__linea3B {
  transform: rotate(-45deg) translate(6px, -7px); }

/*MENU ITEMS*/
.menu__items {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: black;
  z-index: 99; }

.menu__items ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 190;
  background: transparent;
  padding: 0;
  padding-bottom: 50px; }

.menu__items ul li {
  width: 100%;
  background: orange;
  height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style: none; }

.menu__items ul li a {
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
  color: #834747;
  font-weight: 900;
  font-family: var(--fuente1);
  z-index: 201; }

.menu__items ul li a:hover {
  color: white; }

.menu__items ul li:nth-child(1) {
  padding-top: 50px; }

.visible {
  right: 0; }

.menu__items-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: brown;
  transition: width .3s; }

.hover:hover::after {
  width: 100%;
  transition: width .3s; }

/* ------------ */
.container__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  left: 10%;
  float: left;
  flex-direction: row;
  width: 20%;
  flex: 1;
  background-color: black; }
  .container__nav ul {
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .container__nav ul li {
      color: white;
      background-color: black;
      margin-top: 4.2rem;
      font-weight: bold;
      padding: .5rem 0.5rem;
      font-family: var(--fuente1);
      border-radius: 20%;
      cursor: pointer;
      text-decoration: line-through orange 1.5px; }
      .container__nav ul li:hover {
        text-decoration: none;
        color: orange;
        cursor: pointer; }

.container__nav a {
  text-decoration: none; }

.container__main {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.container__main-img {
  width: 400px;
  height: 440px;
  background-image: url(../Media/Foto-Cv.JPG);
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 10rem; }
  .container__main-img img {
    width: 400px;
    height: 440px; }

.container__main-text {
  width: 30%;
  color: white;
  margin: 13rem auto; }

.main__text1 {
  font-family: var(--fuente1); }

.main__text1 h2 {
  font-family: var(--fuente1);
  color: orange;
  font-weight: bolder; }

.span__uade {
  color: #5252c2;
  font-weight: bolder; }

.span__js {
  color: gold;
  font-weight: bolder; }

.span__py {
  color: #09a309;
  font-weight: bolder; }

.span__html {
  color: orange;
  font-weight: bolder; }

.span__css {
  color: #0070bb;
  font-weight: bolder; }

.span__saas {
  color: #a35461;
  font-weight: bolder; }

.container__sn {
  width: 5%;
  background-color: orange;
  height: auto;
  display: flex;
  margin-top: 14.8rem;
  margin-bottom: 4rem;
  border-color: black;
  padding: 1.6rem;
  border-width: 4px;
  border-style: solid;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .container__sn a {
    text-decoration: none;
    background-color: transparent; }
    .container__sn a img {
      width: 32px;
      height: 32px;
      position: relative;
      background-color: transparent; }

/* Educacion */
/* Educacion */
section#educacion {
  height: 640px;
  display: flex;
  width: 100%;
  margin-top: 14rem;
  padding: 0%;
  margin: 0 auto;
  background-color: black; }

.contenedor__educacion-title {
  width: 100%;
  height: 240px;
  color: orange;
  font-weight: bolder; }

.contenedor__educacion-title h2 {
  height: 100%;
  vertical-align: middle;
  font-weight: bolder;
  font-size: 2rem;
  font-family: var(--fuente1); }

.educacion__line2 {
  margin-top: 0;
  border-color: white;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-style: solid;
  margin-top: 4rem;
  background-color: black;
  width: 65%;
  height: 250px; }

/* MEDIA QUERIES */
@media (max-width: 520px) {
  .title {
    width: 70%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    border-style: solid;
    border-color: white;
    margin-top: -0.2rem;
    font-size: 1.1rem;
    padding: 2rem 2rem;
    font-family: var(--fuente1);
    font-weight: bolder;
    overflow-wrap: normal; } }

@media (max-width: 689px) {
  .title {
    font: 1rem; } }

@media (max-width: 520px) {
  .line1 {
    width: 85%; } }

@media (min-width: 521px) and (max-width: 780px) {
  .line1 {
    width: 70%;
    height: 290px; } }

@media (min-width: 781px) and (max-width: 900px) {
  .line1 {
    width: 70%;
    height: 290px; } }

@media (max-width: 890px) {
  .line2 {
    width: 30.1%;
    height: 290px; } }

@media (max-width: 520px) {
  .line2 {
    width: 1%; } }

@media (min-width: 521px) and (max-width: 900px) {
  .title {
    width: 40%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    border-style: solid;
    border-color: white;
    margin-top: -0.2rem;
    font-family: var(--fuente1);
    font-weight: bolder; } }

@media (max-width: 520px) {
  .line2 {
    border-color: white;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-style: solid;
    background-color: black;
    width: 15.1%;
    height: 450px; } }

@media (max-width: 840px) {
  .container__main {
    width: 99%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; } }

@media (min-width: 1070px) {
  .container__main-text {
    width: 50%;
    color: white;
    margin: 13rem auto; } }

@media (max-width: 934px) {
  .container__nav {
    display: none; } }

@media (max-width: 862px) {
  .container__main-img {
    width: 200px;
    height: 510px; } }

@media (max-width: 934px) {
  .container__sn {
    display: none !important; } }

@media (max-width: 934px) {
  .container__main {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto; } }

@media (max-width: 934px) {
  .container__main-text {
    width: 90%;
    color: white;
    margin: 13rem auto; } }

/* BOTON PARA HACER RESPONSVIE EL SITIO!!!*/
@media (min-width: 890px) {
  #menuLineas {
    display: none; } }

@media (min-width: 890px) and (max-width: 890px) {
  .container__nav .nav, .container__nav {
    display: none;
    width: 0%; } }

@media (min-width: 890px) and (max-width: 869px) {
  .container__main {
    width: 95%; } }

@media (min-width: 890px) and (max-width: 499px) {
  section#home {
    height: 022px; } }

@media (min-width: 890px) and (min-width: 500px) and (max-width: 749px) {
  section#home {
    height: 980px; } }

@media (min-width: 890px) and (min-width: 750px) {
  section#home {
    height: 1034px; } }

@media (min-width: 890px) and (min-width: 1860px) {
  section#home {
    height: 1310px; } }

@media (min-width: 890px) and (max-width: 494px) {
  .contenedor {
    height: 600px;
    display: flex;
    width: 100%;
    margin-top: 4rem;
    padding: 0%;
    margin: auto auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start; } }

@media (min-width: 890px) and (max-width: 494px) and (max-width: 494px) {
  .container__main-text {
    width: 100%;
    margin: 0 auto; } }

@media (min-width: 890px) and (max-width: 494px) and (max-width: 737px) {
  .container__main-text {
    width: 85%; } }

@media (min-width: 890px) and (max-width: 494px) {
  #home {
    height: 800px; } }
