.title h2 {
    font-size: 2em;
    width: 100%;
    justify-content: center;
    color: white;
    background-color: black;
    text-align: center;
    overflow: hidden;
    white-space: initial;
    margin: 0 auto;
    letter-spacing: 15px;
    animation: typing 5s steps(29, end), blink-caret 0.12s step-start infinite; 
    -webkit-animation-iteration-count: 4;
    -webkit-animation-delay: 0s;
}
  
  @keyframes typing {
    from {
      width: 0; }
    to {
      width: 100%; }
    from {
      text-decoration: line-through orange 2px; }
    to {
      text-decoration: none; } }

      
