
.line1{
    border-color: white;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-style: solid;
   
    background-color: black;
    width: 65%;
    height: 200px;
}
.line2{
    border-color: white;
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-style: solid;
    background-color: black;
    width: 35.1%;
    height: 239px;
}
.title{

    width: 30%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    border-style: solid;
    border-color:white;
    margin-top: -0.2rem;
    padding: 2rem 2rem;
    font-family:var(--fuente1);
    font-weight: bolder  ;
    overflow-wrap: normal;

}
.title h2 {
  
    width: 100%;
     justify-content: center;
     color: white;
     background-color: black;
     text-align: center;
     overflow: hidden; 
  white-space: initial ; 
  margin: 0 auto;
  letter-spacing: 15px;
  animation: 

    typing 5s steps(29, end),
    blink-caret .120s step-start infinite;
 
  

}




@keyframes typing {
  from { width: 0}
  to { width: 100% }
  
 from{ text-decoration: line-through orange 2px ; }
 to {text-decoration: none; }
}



.title__p{
    height: 89px;
    margin-top: 2rem;
    width: 30%;
    left: 40%;
    font-size: 1.7rem;
    font-family: var(--fuente1);
    font-weight: bolder;
    color: white;
    position: absolute;
    text-shadow: 1 0.38px 0 orange;

    
}
.title__p2{
    height: 89px;
    font-size: 1.7rem;
    margin-top: -3.69rem;
    margin-left: 4rem;
    background-color: lime;
    left: 23%;
    background-color: transparent;
    font-family: var(--fuente1);
    font-weight: bolder;
    color: white;
    position: absolute;
    color: orange;
  

}

.title__p2 a{
    text-decoration: none;
    color: white;
    padding: 0;
}
.title__p a{
    text-decoration: none;
    padding: 0;
    color: white;
}

.title__p :hover{
    font-size: 1.9rem ;
    color: orange;
    cursor: pointer;
    font-family: var(--fuente1);
    padding: 0;

}
.title__p2 a:hover    {
   font-size: 1.9rem;
   color: orange;
   padding: 0;
   cursor: pointer;
   font-family: var(--fuente1);
}