

        @media(max-width:520px) {
            .title {
                width: 80%;
                height: auto;
                justify-content: center;
                margin: 0 auto;
                border-style: solid;
                border-color: white;
                margin-top: -0.2rem;
                font-size: 1.1rem;
                padding: 2rem 2rem;
                font-family: var(--fuente1);
                font-weight: bolder;
                overflow-wrap: normal;
            }
        }
        @media (min-width:521px) and (max-width:900px) {
            .title{
            
            width: 40%;
            height: auto;
            justify-content: center;
            margin: 0 auto;
            border-style: solid;
            border-color: white;
            margin-top: -0.2rem;
            font-family:var(--fuente1);
            font-weight: bolder  ;
          
        
            }     
        }
        @media(max-width:689px) {
            .title {
                font: 1rem;
            }
            }
             @media (max-width:520px) {
                .line1 {
                       width: 95%;
                
                }
                 }
                 @media (min-width:521px) and (max-width:780px) {  
                    .line1{
                        width:72.3%;
                        height: 290px;
        
                    }
                }   
                @media (min-width:781px) and (max-width:900px) {  
                    .line1{
                        width: 72%;
                        height: 290px;
        
                    }

                }   
                @media (min-width:943px) {
                    .line1{ 
                        width: 66.4%;
                    
                    }
            }
                @media  (max-width:900px) {  
                    .line2{
                        width: 27.1%;
                        height: 290px;
        
                    }
                    }
                @media (max-width:520px) {
                    .line2 {
                        border-color: white;
                        border-left: transparent;
                        border-top: transparent;
                        border-bottom: transparent;
                        border-style: solid;
                        background-color: black;
                        width: 3.1%;
                        height: 450px;
                    }
                     }
                     @media (min-width:943px) {
                        .line2{ 
                            width: 33.32%;
                            height: 80%;
                            margin-top: -1.9px;
                    }
                }
  
        

        @media(max-width:840px){
            .container__main{
                width: 99%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
            
            }
        }
        @media(min-width:1070px){
            .container__main-text {
                width: 50%;
                color: white;
                margin: 13rem auto;
            }
        }
        @media (max-width:934px){
            .container__nav {
                display: none ;
            }
            
        }
        @media (max-width:862px){
            .container__main-img{ 
                width: 200px;
                height: 510px;
            }
            
            
        }   
      
    @media (max-width:934px){
        .container__sn{
        display: none !important;;
    }
    
}
@media (max-width:934px){
    .container__main {
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
@media (max-width:520px){
    main#about {
        height: 800px;
    } 
    
}
@media (max-width:934px){
    .container__main-text {
        width: 90%;
        color: white;
        margin: 13rem auto;
    }
}
 

     

     
            
        /* BOTON PARA HACER RESPONSVIE EL SITIO!!!*/
        @media(min-width:890px) {
            #menuLineas {
                display: none;
            }
    
        @media(max-width:890px){
            .container__nav .nav, .container__nav{
                display: none;
                width: 0%
                ;
            }
        }
        @media(max-width:869px){
            .container__main{
                width: 95%;
                
            }
        }
    
                
            
            @media (max-width: 499px){ 
                section#home{
                    height: 022px;
                    }
                }
                @media (min-width:500px) and (max-width: 749px){ 
                    section#home{
                        height: 980px;
                        }
                    }
                    @media (min-width:750px) { 
                        section#home {
                            height: 1034px;
                    }
                
                    }
                    @media(min-width:1860px){
                        section#home{
                            height: 1310px;
                        }
                    }
            
                 
                    

            @media (max-width: 494px){ 
            .contenedor {
                height: 600px;
                display: flex;
                width: 100%;
                margin-top: 4rem;
                padding: 0%;
                margin: auto auto;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                align-content: flex-start;
        }
        @media (max-width:494px) {
            .container__main-text{
                width: 100%;
                margin: 0 auto;
            }
        } 
        @media (max-width:737px) {
        .container__main-text {
            width: 85%;
        }
    }
        
            }
       
    
                @media (max-width:494px) {
                    #home{
                        height: 800px;
                    
                }
                    }
        }
         @media (max-width:520px) {
           section#educacion {
                height: 800px;   
         }
        }