

.container__nav{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    left: 10%;
    float: left;
    flex-direction: row;
    font-size: 1.9rem;
    width: 20%;
    flex: 1;
    background-color: black

}

.container__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    left: 10%;
    float: left;
    flex-direction: row;
    width: 20%;
    flex: 1;
    background-color: black;
      & ul{
        list-style: none;
        color:black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
          & li{
            color: white;
            background-color: black;
            margin-top: 4.2rem;
            font-weight: bold;
            padding: .5rem 0.5rem;
            font-family: var(--fuente1);
            border-radius: 20%;
            cursor: pointer;
            text-decoration: line-through orange 1.5px;
                &:hover{
                  text-decoration: none;
                  color: orange;
                  cursor:pointer;
      
          }
                }
              }
          
            }
            
.container__nav a{
    text-decoration: none;
}


.container__main{
width:75%;
display:flex;
flex-direction: row;
flex-wrap: wrap;

}

.container__main-img{
      width: 400px;
      height: 440px;
      background-image: url(../Media/Foto-Cv.JPG);
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 10rem;
      & img{
        width: 400px;
        height: 440px;
      }
}
.container__main-text{
    width: 30%;
    color: white;
    margin: 13rem auto;
}


.main__text1 {
font-family: var(--fuente1);
}
.main__text1 h2{
  font-family: var(--fuente1);
    color: orange;
    font-weight: bolder;
}

.span__uade{
    color: rgb(82, 82, 194);
    font-weight: bolder;
}
.span__js{
    color: gold;
    font-weight: bolder;

}
.span__py{
    color: rgb(9, 163, 9);
    font-weight: bolder;
}
.span__html{
    color: orange;
    font-weight: bolder;
}
.span__css{
    color:rgb(0, 112, 187);
    font-weight: bolder;
}
.span__saas{
    color: rgb(163, 84, 97);
    font-weight: bolder;
}
.container__sn{
width: 5%;
background-color: orange;
height: auto;
display: flex;
margin-top: 14.8rem;
margin-bottom:4rem ;
border-color: black;
padding: 1.6rem;
border-width: 4px;
border-style: solid;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
  & a{
    text-decoration: none;
    background-color: transparent;

    & img{
        width: 32px;
        height: 32px;
        position: relative;
        background-color: transparent;
}
}
}
